# ===========================
# C/C++ Build Files
# ===========================

# Executables
*.exe
*.out
a.out

# Object files
*.o
*.obj

# Libraries
*.a
*.so
*.dll

# Ignore build folders
output/
build/
bin/
Debug/
Release/

# VS Code
.vscode/

# Temporary files
*.log
*.tmp
*~
